
@{
    ViewBag.Title = "Pedidos";
}

<h2>Pedidos</h2>

<br />
<br />

<div class="form-group">
    @Html.ActionLink("Criar Novo Pedido", "Create", "Pedidos", new { @class = "btn btn-primary btn-large" })
</div>

