<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://salesmanagement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>salesmanagement.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SalesManagement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SalesManagement</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SalesManagement" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:salesmanagementdb.database.windows.net,1433;Initial Catalog=SalesManagementDB;Persist Security Info=False;User ID=application;Password=Manager123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:salesmanagementdb.database.windows.net,1433;Initial Catalog=SalesManagementDB;Persist Security Info=False;User ID=application;Password=Manager123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SalesManagement.Infra.Data.Context.SalesManagementContext, SalesManagement.Infra.Data" MigrationConfiguration="SalesManagement.Infra.Data.Migrations.Configuration, SalesManagement.Infra.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SalesManagement-Web.config Connection String">
      <ParameterValue>Server=tcp:salesmanagementdb.database.windows.net,1433;Initial Catalog=SalesManagementDB;Persist Security Info=False;User ID=application;Password=Manager123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>